<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <a th:href="@{/catalog/catalog-create}">作成</a>
  <div th:each="name : ${name}">
    <span th:text="${name.name}"></span>
    <form th:action="@{/catalog/catalog-delete}" method="post">
      <button type="submit">削除</button>
      <input type="hidden" name="id" th:value="${name.id}">
    </form>
  </div>
</body>
</html>