<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <p>新規作成画面</p>
  <form th:action="@{/catalog/catalog-create}" method="post" th:object="${catalog}">
    <span th:errors="*{name}"></span>
    <br>
    <input name="name" type="text" />
    <input type="submit" value="登録">
  </form>
</body>
</html>